@model ESCHOOL.ViewModels.ListPanelModel
@{
    System.Globalization.CultureInfo.CurrentCulture = System.Globalization.CultureInfo.CreateSpecificCulture(@Model.SelectedCulture);
    System.Globalization.CultureInfo.CurrentUICulture = System.Globalization.CultureInfo.CreateSpecificCulture(@Model.SelectedCulture);
    var culture = System.Globalization.CultureInfo.CurrentCulture.ToString();
}
<html>
<head>
    <style>
        html {
            font-size: 13px;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
    <title></title>
    <link href="https://kendo.cdn.telerik.com/2021.2.616/styles/kendo.common.min.css" rel="stylesheet" />
    <link rel="stylesheet" id="skin-css" href="@TempData["theme"]" />
    <link rel="stylesheet" id="skin-css" href="@TempData["themeMobile"]" />
    <script src="https://kendo.cdn.telerik.com/2021.2.616/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.616/js/kendo.all.min.js"></script>

    <script src="@Url.Content("~/telerik/2021.2.616/js//cultures/kendo.culture." + culture + ".min.js")"></script>
    <script src="@Url.Content("~/telerik/2021.2.616/js//messages/kendo.messages." + culture + ".min.js")"></script>

    <script type="text/javascript">
        kendo.culture("@culture");
    </script>
</head>
<body onload="switchBodyColor()">
    <div id="example">
        <div class="demo-section k-content center" id="shadow">
            <div class="center2">
                <h3>@ESCHOOL.Resources.Resource.InvoiceLists</h3>
            </div>

            <hr />
            <form id="List301" asp-controller="ListPanel" asp-action="ListPanelInfo301" asp-route-id="@Model.UserID">
                <input type="hidden" asp-for="UserID" />
                <div class="row" id="startClassroom">
                    <div class="col">
                        <label asp-for="StartClassroom" class="control-label">@ESCHOOL.Resources.Resource.StartClassroom</label>
                        <div class="text-section k-content">
                            <input asp-for="StartClassroom" id="classroomDropDown1" style="width: 100%;" />
                        </div>
                    </div>
                    <div class="col">
                        <label asp-for="EndClassroom" class="control-label">@ESCHOOL.Resources.Resource.EndClassroom</label>
                        <div class="text-section k-content">
                            <input asp-for="EndClassroom" id="classroomDropDown2" style="width: 100%;" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col">
                        <label asp-for="StartListDate" class="control-label">@ESCHOOL.Resources.Resource.StartDate</label>
                        <input asp-for="StartListDate" id="startDateID" class="form-control listDate" style="width: 100%;" />
                    </div>
                    <div class="col">
                        <label asp-for="EndListDate" class="control-label">@ESCHOOL.Resources.Resource.EndDate</label>
                        <input asp-for="EndListDate" id="endDateID" class="form-control listDate" style="width: 100%;" />
                    </div>
                </div>
                <hr />
                <div>
                    <label class="label">@ESCHOOL.Resources.Resource.ListingOptions</label>
                    <div class="row">
                        <div class="col" style="padding-left:20px;">
                            <input asp-for="List01Options0" id="list01Options0" class="ax-unselectable k-checkbox" type="checkbox">
                            <label asp-for="List01Options0" for="list01Options0" class="required">@ESCHOOL.Resources.Resource.IssuedInvoices</label>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col" style="padding-left:20px;">
                            <input asp-for="List01Options1" id="list01Options1" class="ax-unselectable k-checkbox" type="checkbox">
                            <label asp-for="List01Options1" for="list01Options1" class="required">@ESCHOOL.Resources.Resource.UnissuedInvoices</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="padding-left:20px;">
                        <input asp-for="List01Options2" id="list01Options2" class="ax-unselectable k-checkbox" type="checkbox">
                        <label asp-for="List01Options2" for="list01Options2" class="required">@ESCHOOL.Resources.Resource.IssuedOtherInvoices</label>
                    </div>
                </div>

                <hr />
                <div>
                    <div class="row">
                        <div class="col" style="padding-left:20px;">
                            <input asp-for="List01Options3" id="list01Options3" class="ax-unselectable k-checkbox" type="checkbox">
                            <label asp-for="List01Options3" for="list01Options3" class="required">@ESCHOOL.Resources.Resource.RegisteredStudents</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="padding-left:20px;">
                        <input asp-for="List01Options4" id="list01Options4" class="ax-unselectable k-checkbox" type="checkbox">
                        <label asp-for="List01Options4" for="list01Options4" class="required">@ESCHOOL.Resources.Resource.CanceledStudents</label>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col col-md-12 custom-control custom-radio">
                        <input type="radio" asp-for="ListOpt1" class="k-radio" id="CustomR1" value="1" checked />
                        <label class="k-radio-label" for="CustomR1">@ESCHOOL.Resources.Resource.ParentName</label>
                        &nbsp;&nbsp;&nbsp;
                        <input type="radio" asp-for="ListOpt1" class="k-radio" id="CustomR2" value="2" />
                        <label class="k-radio-label" for="CustomR2">@ESCHOOL.Resources.Resource.StudentName</label>
                    </div>
                </div>
                <hr />

                <div class="row">
                    <div class="col col-md-3">
                        <button type="button" id="okButton" onclick="okClick()" style="width:80px">@ESCHOOL.Resources.Resource.Okey</button>
                    </div>
                    <div class="col col-md-3">
                        <button type="button" id="exitButton" onclick="okExit()" style="width:80px">@ESCHOOL.Resources.Resource.Exit</button>
                    </div>
                </div>

            </form>
        </div>

    </div>
    <script>
        function okExit() {
            window.location.replace("/Home/index?userID=@Model.UserID");
        }

        function okClick() {
            waitProgress();

            $("form").submit();
        }
    </script>

    <script>
        function waitProgress() {
            $('#loader-pulsing').kendoLoader({ type: 'pulsing' });
            $('#loader-infinite-spinner').kendoLoader({ type: 'infinite-spinner' });
            $('#loader-converging-spinner').kendoLoader({ type: 'converging-spinner' });
        }
    </script>
    <div class="vertical-center">
        <span id="loader-pulsing"></span>
        <span id="loader-infinite-spinner"></span>
        <span id="loader-converging-spinner"></span>
    </div>
    <style>
        .vertical-center {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    </style>

    <script>
        $(document).ready(function() {
            var dropdownlist1 = $("#classroomDropDown1").kendoDropDownList({
                optionLabel: { classroomName: getByCulture('@culture', 'select'), classroomID: "0" },
                dataTextField: "classroomName",
                dataValueField: "classroomID",
                filter: "contains",
                dataSource: {
                    transport: {
                        read: {
                            dataType: "json",
                            url: "/ListPanel/ClassroomCombo/" + "@Model.UserID",
                        }
                    }
                }
            }).change(function(e) {
                var ddl1 = document.getElementById("classroomDropDown1").value;
                var ddl2 = $("#classroomDropDown2").data("kendoDropDownList");
                ddl2.value(ddl1);
            });
             dropdownlist1.data("kendoDropDownList").select(0);
            var dropdownlist2 = $("#classroomDropDown2").kendoDropDownList({
                optionLabel: { classroomName: getByCulture('@culture', 'select'), classroomID: "0" },
                dataTextField: "classroomName",
                dataValueField: "classroomID",
                filter: "contains",
                dataSource: {
                    transport: {
                        read: {
                            dataType: "json",
                            url: "/ListPanel/ClassroomCombo/" + "@Model.UserID",
                        }
                    }
                }
            });
             dropdownlist2.data("kendoDropDownList").select(0);
        });
    </script>

    <script>
        $(".listDate").kendoDatePicker({
            format: "dd/MM/yyyy"
        });

        $("#okButton").kendoButton({
            icon: "check",
        });
        $("#exitButton").kendoButton({
            icon: "logout",
        });
    </script>

    <style>
        .center {
            position: absolute;
            left: 50%;
            top: 40%;
            transform: translate(-50%, -50%);
            border: 1px solid #0a0a0a;
            padding: 40px;
            min-width: 400px;
            max-width: 400px;
        }

        div.center2 {
            text-align: center;
        }

        #shadow {
            border: 1px solid;
            /* padding: 10px;*/
            box-shadow: 5px 10px 18px #888888;
        }

        .k-list-horizontal {
            margin-top: 5px;
        }

        form label {
            font-weight: bold;
            font-size: 12px;
        }
        .label {
            font: normal 14px/16px Metric, Arial, Helvetica, sans-serif;
            color: #828282;
            display: inline-block;
            text-transform: uppercase;
            margin-bottom: 10px;
        }

        .k-form-hint {
            margin-top: 10px;
        }
    </style>

    <script>
        var dictionary =
        {
            'tr-TR': {
                select: 'Seç',
                msgOk: 'Tamam'
            },

            'en-US': {
                select: 'Select',
                msgOk: 'OK'
            },
        }
        function getByCulture(culture, word) {
            return dictionary[culture][word]
        }
    </script>
    <style>
        .backgroundBlack {
            background: rgba(0, 0, 0, 0.7) url('../Upload/Login/paper.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-blend-mode: darken;
        }

        .backgroundWhite {
            background: url('../Upload/Login/paper.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    <script>
        function switchBodyColor() {
            if ('@TempData["color"]' == "#222") { document.body.className = 'backgroundBlack'; }
            else { document.body.className = 'backgroundWhite'; }
        }
    </script>
    <script>
        window.history.replaceState('', '', window.location.pathname);
    </script>
</body>
</html>
