@model ESCHOOL.ViewModels.StudentIndexViewModel
@{
    ViewData["Title"] = "index";
}

@{
    System.Globalization.CultureInfo.CurrentCulture = System.Globalization.CultureInfo.CreateSpecificCulture(@Model.SelectedCulture);
    System.Globalization.CultureInfo.CurrentUICulture = System.Globalization.CultureInfo.CreateSpecificCulture(@Model.SelectedCulture);
    var culture = System.Globalization.CultureInfo.CurrentCulture.ToString();
}
<!--#region head -->
<head>
    <style>
        html {
            font-size: 13px;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
    <title></title>
    <link href="https://kendo.cdn.telerik.com/2021.2.616/styles/kendo.common.min.css" rel="stylesheet" />
    <link rel="stylesheet" id="skin-css" href="@TempData["theme"]" />
    <link rel="stylesheet" id="skin-css" href="@TempData["themeMobile"]" />
    <script src="https://kendo.cdn.telerik.com/2021.2.616/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.2.616/js/kendo.all.min.js"></script>

    <script src="@Url.Content("~/telerik/2021.2.616/js//cultures/kendo.culture." + culture + ".min.js")"></script>
    <script src="@Url.Content("~/telerik/2021.2.616/js//messages/kendo.messages." + culture + ".min.js")"></script>

    <script type="text/javascript">
        kendo.culture("@culture");
    </script>
</head>
<!--#endregion -->
<body>
    <div class="demo-section k-content fixed-top wide">
        <div id="toolbarMenu"></div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <input type="hidden" asp-for="@Model.UserID" id="userID" />

    <div id="grid" style="padding:5px;"></div>

    <!--#region head -->
    <script id="template" type="text/x-kendo-template">
        <a class="k-button" href="\#" onclick="return toolbar_click()"> <i class="k-icon k-i-plus"></i>&nbsp;&nbsp;@ESCHOOL.Resources.Resource.CreateNew</a>

        <span class="k-textbox k-grid-search k-display-flex">
            <input autocomplete="off" placeholder=@ESCHOOL.Resources.Resource.Search class="k-input">
            <span class="k-input-icon">
                <span class="k-icon k-i-search"></span>
            </span>
        </span>
    </script>
    <!--#endregion -->
    <!--#region style -->
    <style type="text/css">
        .customer-photo {
            display: inline-block;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-size: 32px 35px;
            background-position: center center;
            vertical-align: middle;
            line-height: 32px;
            box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
            margin-left: 5px;
        }

        .customer-name {
            display: inline-block;
            vertical-align: middle;
            line-height: 32px;
            padding-left: 3px;
        }

        .k-grid-header .k-grid-header-wrap th.k-header {
            text-align: center;
            vertical-align: middle;
            line-height: 0.7em
        }

        .k-header {
            font-weight: bold !important;
            font-size: 12px;
        }
        .k-grid-content {
            max-height: 720px;
        }
    </style>


    <!--#endregion -->
    <!--#region toolbar -->
    <style>
        #logoId img {
            width: 60px;
        }
    </style>
    <script>
        $(document).ready(function () {
            $("#toolbarMenu").kendoToolBar({
                items: [
                    {
                        template: "<img src='../Upload/Images/Logo.png' class='user-image' style='width:60px;'/>",
                        overflow: "never",
                    },
                    { template: "<h4 style='padding-left:20px;'>@ESCHOOL.Resources.Resource.Users</h4>" },
                    { type: "spacer" },

                    { type: "button", id: "exit", text: "@ESCHOOL.Resources.Resource.Exit", attributes: { style: "float: right; margin-top: .4em;" }, icon: "logout" },
                    { type: "separator" },
                ],

                click: function (e) {
                    if (e.id == "exit") {
                        window.location.replace("/Home/index?userID=" + @Model.ViewModelID);
                    }
                }
            });
        });
    </script>
    <!--#endregion -->
</body>

<!--#region grid student -->
<script>
    $(document).ready(function () {
        var crudServiceBaseUrl = "/M900Users/",
            dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: crudServiceBaseUrl + "GridUsersDataRead/" + "@Model.UserID",
                        dataType: "json"
                    },

                    destroy: {
                        url: function (options) {
                            var url = crudServiceBaseUrl + "GridUserDataDelete/" + options.models[0].id;
                            return url;
                        },
                        type: "post",
                        dataType: "json"
                    },

                    create: {
                        url: crudServiceBaseUrl + "/AddOrEditStudent/index/" + "@Model.SchoolID",
                        dataType: "json"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options.models) {
                            return { models: kendo.stringify(options.models) };
                        }
                    }
                },

                batch: true,
                pageSize: 20,
                schema: {
                    model: {
                        id: "userID",
                        fields: {
                            id: { editable: false, nullable: true },
                            userID: { editable: false, validation: { required: true } },
                            firstName: { editable: false, validation: { required: true } },
                            lastName: { editable: false, validation: { required: true } },
                            dateOfBird: { editable: false, validation: { required: true } },
                            homePhone: { editable: false, validation: { required: true } },
                            mobilePhone: { editable: false, validation: { required: true } },
                            isActive: { editable: false, type: "boolean" }
                        }
                    }
                }
            });

        var grid = $("#grid").kendoGrid({
            toolbar: [
                { template: kendo.template($("#template").html()) }
            ],
            dataSource: dataSource,
            pageable: true,
            resizable: true,
            selectable: 'row',
            columns: [
                {
                    template: "<div class='customer-photo'" +
                        "style='background-image: url(../Upload/Users//#:userPicture#);'></div>" +
                        "<div class='customer-name' style='width: 200px;'>#: name #</div>",
                    field: "name", title: "@ESCHOOL.Resources.Resource.UserName", width: "175px",
                },
                { field: "dateOfBird", title: "@ESCHOOL.Resources.Resource.DateOfBird", width: "100px", template: "#if(dateOfBird === null){#  #}else{# #=kendo.toString(kendo.parseDate(dateOfBird), 'dd/MM/yyyy')#  #}#" },
                { field: "homePhone", title: "@ESCHOOL.Resources.Resource.HomePhone", width: "80px" },
                { field: "mobilePhone", title: "@ESCHOOL.Resources.Resource.MobilePhone", width: "80px" },
                { field: "isActive", title: "@ESCHOOL.Resources.Resource.Status", width: "40px", template: "<input  #if (isActive) { # checked='checked' # } # type='checkbox' disabled />" },

                { command: [{ text: " ", name: "edit", click: showDetails }, { text: " ", name: "destroy" }], title: "&nbsp;", width: "90px" }
            ],
            editable: {
                mode: "inline",
                update: false,
                destroy: true
            },
            dataBound: function (e) {
                $("#grid tbody tr .k-grid-delete").each(function () {
                    var currentDataItem = $("#grid").data("kendoGrid").dataItem($(this).closest("tr"));
                    if ('@TempData["isSupervisor"]' == "False") {
                        $(this).remove();
                    }
                })
            },

        }).data("kendoGrid");
    });

    function showDetails(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location.replace("/M900Users/AddOrEditUsers?id=" + dataItem.id + "&prgUserID=@Model.ViewModelID");
    }
</script>

<!--#endregion -->
<script>
    function toolbar_click() {
        window.location.replace("/M900Users/AddOrEditUsers?id=0" + "&prgUserID=@Model.ViewModelID");
        return false;
    }
</script>

<script>
    window.history.replaceState('', '', window.location.pathname);
</script>
